<!DOCTYPE html>
<html>
    <head>
        <title> Compare </title>
    </head>
    <body>
      <datalist id="allCountries">
        <option id ="United States">United States</option>
        {% for x in allCountries %}
        <option id = {{x}}>{{x}}</option>
        {% endfor %}
      </datalist>
      <input name="country" id="country1" list="allCountries" autocomplete="off" style="width:50%; font-size:16px;">
      <input name="country" id="country2" list="allCountries" autocomplete="off" style="width:50%; font-size:16px;">
      <div id = "timeGraph">
      </div>
      <div id = "populationPie">
      </div>
      <div id = "barGraph">
      </div>
    </body>
    <script src="http://d3js.org/d3.v5.js"
      charset="utf-8"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="static/compare.js"></script>
</html>
